*{
    box-sizing: border-box;
}


html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.b{
    font-weight: bold;
}

#tab{
    width: 100%;
}
#tab{
    border-collapse: collapse;
}
#tab tr{
    border: 2px solid black;
    background: #DDD;
}
#tab tr:nth-child(even){
    background: #BBB;
}
#tab td{
    border: 2px solid black;
    text-align: center;
}




button{
    margin: 3px 0;
    width: 100%;
    background: #EA9;
    border: 2px solid black;
    font-size: 40px;
}

input{
    float: right;
    width: 50%;
}

input, span{
    width: 50%;
    height: 40px;
    font-size: 30px;
    line-height: 40px;
}
